body {
    margin: 0px;
    padding: 0px;
}

.header {
    background: url(./img/bg/bg\ 30.PNG)repeat-x;
    height: 150px;
    border-top: 5px solid orange;
    background-size: 20px 155px;
}

a {
    text-decoration: none;
    color: black;
}

.nav {
    width: 600px;
    margin: 60px auto 0px auto;
    /*  border: 1px solid #ccc;*/
    height: 50px;
    padding-bottom: 50px;
}

.nav .items {
    cursor: pointer;
    float: left;
    /*border:1px solid #ccc;*/
    width: 80px;
    height: 50px;

    text-align: center;
    line-height: 30px;
    font-family: tahoma;
    color: transparent;
    padding-top: 60px;
}

.nav .item1 {
    background: url(./img/icon/07.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.nav .item2 {
    background: url(./img/icon/05.png);
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;

}

.nav .item3 {
    background: url(./img/icon/02.png);
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
}

.nav .item4 {
    background: url(./img/icon/04.png);
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
}

.content .container {
    border: 15px solid rgb(246, 246, 246);
    width: 600px;
    margin: 50px auto;
    height: 400px;
    box-shadow: 1px 2px 5px #ccc;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.content .container #gallery {
    width: 2400px;
    height: 100%;
    position: absolute;
    left: 0px;

}

.content .container #gallery .items {
    width: 600px;
    height: 400px;
    float: left;

}

.content .container #gallery .items img {
    width: 100%;
    height: 100%;
}

.content .container #gallery .items:hover p {
    top: -50px;
}

.content .container #gallery .items p {
    transition: 0.3s;
    text-align: center;
    background-color: rgba(240, 234, 234, 0.8);
    color: #555;
    width: 100%;
    position: relative;
    top: 0px;
    margin: 0px;
    padding: 25px 0;

}

.content .container #larr {
    position: absolute;
    top: 40%;
    left: 0%;
    cursor: pointer;
    width: 70px;
    height: 90px;
}

.content .container #rarr {
    position: absolute;
    top: 40%;
    right: 0%;
    cursor: pointer;
    width: 70px;
    height: 90px;
}